@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color, #4318ff);
  --color-primary-hover: var(--primary-color-hover, #3311cc);
}

:root {
  --primary-color: #4318ff;
  --primary-color-hover: #3311cc;
}

@layer base {
  body {
    @apply font-sans text-[#1b2559] bg-[#f4f7fe];
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
